# env
.env
.env.test

# Python
__pycache__
venv

# PyTest
.pytest_cache

# Coverage
.coverage
htmlcov
coverage.xml

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# VSCode
.vscode/