body {
  background-color: yellow;
}

.header {
  background-color: gray;
  overflow: hidden;
}

.header a {
  float: left;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 10px 10px;
}

nobr {
  white-space: nowrap;
  float: left;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 10px 10px;
}

.header a.right {
  float: right;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 10px 10px;
}
