body {
  background-color: yellow;
}

.navbar {
    background-color: gray;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding: 10px 10px;
}

nobr {
    white-space: nowrap;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding: 10px 10px;
}

.navbar a.right {
    float:right;
    color:#ffffff;
    text-align: center;
    font-size: 18px;
    padding: 10px 10px;
}
