{% extends "layout.html" %} {% block content %} {% if session.user_id %}
<form class="add-form" action="/add" method="POST">
  <h1>Lisää viite: {{ type[1] }}</h1>
  <h3>Pakolliset kentät:</h3>
  <div class="group">
    <label>
      Viitteen ID, jota käytetään lähteeseen viitatessa (/cite{ID})
    </label>
    <input type="text" name="reference_id" />
  </div>

  {% for req in required %} {% if req[0]|length == 2 %}

  <div class="input-horizontal">
    <div class="group">
      <label> {{ req[0][1] }} </label>
      <input type="text" name="{{ req[0][0] }}" />
    </div>

    <span>tai</span>

    <div class="group">
      <label>{{ req[1][1] }}</label>
      <input type="text" name="{{ req[1][0] }}" />
    </div>
  </div>

  {% else %}
  <div class="group">
    <label> {{ req[1] }} </label>
    <input type="text" name="{{ req[0] }}" />
  </div>

  {% endif %} {% endfor %}

  <h3>Valinnaiset kentät:</h3>
  {% for opt in optional %} {% if opt[0]|length == 2 %}
  <div class="input-horizontal">
    <div class="group">
      <label> {{ opt[0][1] }} </label>
      <input type="text" name="{{ opt[0][0] }}" />
    </div>

    <span>tai</span>

    <div class="group">
      <label> {{ opt[1][1] }} </label>
      <input type="text" name="{{ opt[1][0] }}" />
    </div>
  </div>

  {% else %}
  <div class="group">
    <label> {{ opt[1] }} </label>
    <input type="text" name="{{ opt[0] }}" />
  </div>

  {% endif %} {% endfor %}

  <button>Lisää</button>
  <input type="hidden" name="reference_name" value="{{ type[0] }}" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>

{% endif %} {% endblock %}
