{% extends "layout.html" %} {% block content %} {% if session.user_id %}

<h1>Lisää viite BibTex -muodossa</h1>
<form action="/addbibdb" method="POST">
  <textarea id="addbib" name="addbib" rows="10">
{% if fetchedbib %}
{{ fetchedbib }}
{% else %}
@article{CitekeyArticle,
 author   = "P. J. Cohen",
 title    = "The independence of the continuum hypothesis",
 journal  = "Proceedings of the National Academy of Sciences",
 year     = 1963,
 volume   = "50",
 number   = "6",
 pages    = "1143--1148",
}
{% endif %}
  </textarea>
  <br />
  <input type="submit" value="Lisää" />
</form>

<form action="finddoi" method="POST">
  <p>Hae viite dokumentin yksilöllisellä tunnisteella (DOI)</p>
  <input type="text" name="doi" value="10.1145/2380552.2380613" />
  <input type="submit" value="Hae" />
</form>

{% endif %} {% endblock %}
