{% extends "layout.html" %} {% block content %} {% if session.user_id %}

<div class="add-bib">
  <h1>Lisää viite BibTex -muodossa</h1>
  <form class="add-bib-form" action="/addbibdb" method="POST">
    <textarea id="addbib" name="addbib" rows="10">
      {% if fetchedbib %}
{{ fetchedbib }}
      {% else %}
@article{CitekeyArticle,
  author   = "P. J. Cohen",
  title    = "The independence of the continuum hypothesis",
  journal  = "Proceedings of the National Academy of Sciences",
  year     = 1963,
  volume   = "50",
  number   = "6",
  pages    = "1143--1148",
}
      {% endif %}
    </textarea>

    <button>Lisää</button>
  </form>

  <form class="add-bib-form" action="finddoi" method="POST">
    <div class="group">
      <label> Hae viite dokumentin yksilöllisellä tunnisteella (DOI) </label>
      <input type="text" name="doi" value="10.1145/2380552.2380613" />
    </div>

    <button>Hae</button>
  </form>
</div>

{% endif %} {% endblock %}
