{% extends "layout.html" %} {% block content %} {% if session.user_id %}
<p>Lisää viite</p>
<ul>
  <li>
    <a href="/addbib">BibTex -muodossa tai DOI -tunnisteella</a>
  </li>
  {% for ref in references %}
  <li>
    <a href="/add/{{ ref[0] }}">{{ ref[1] }}</a>
  </li>
  {% endfor %}
</ul>

{% if added_references %}
<ul>
  {% for ref in added_references %}
  <li class="reference">
    <span>{{ ref.reference_id }}</span>

    {{ ref.author }} || {{ ref.editor }} {{ ref.title }} {{ ref.booktitle }} {{
    ref.chapter }} || {{ ref.pages }} {{ ref.journal }} {{ ref.volume }} || {{
    ref.number }} {{ ref.edition }} ( {{ ref.year }} {{ ref.month }} ) {{
    ref.howpublished }} {{ ref.school }} {{ ref.institution }} {{
    ref.organization }} {{ ref.type }} {{ ref.note }}

    <details>
      <summary>Lisää tietoja</summary>
      {% for field in ref %} {% if field not in ["id", "user_id"] %} {{ field
      }}: {{ ref[field] }} <br />
      {% endif %} {% endfor %}
    </details>
  </li>
  {% endfor %}
</ul>
<div>
  <a href="/download-file" target="blank"
    ><button>Lataa BibTex -tiedosto</button></a
  >
</div>
{% else %}
<p>Et ole lisännyt vielä yhtään viitettä.</p>
{% endif %} {% endif %} {% endblock %}
