{% extends "layout.html" %} {% block content %}
<h2 style="color: red">{{ message }}</h2>
<h1>Tervetuloa etusivulle!</h1>

{% if session.user_id %}
<p>Lisää viite</p>
<ul>
  <li>
    <a href="/addbib">BibTex -muodossa tai DOI -tunnisteella</a>
  </li>
  {% for ref in references %}
  <li>
    <a href="/add/{{ ref[0] }}">{{ ref[1] }}</a>
  </li>
  {% endfor %}
</ul>

{% if added_references %}
<p>Lisätyt viitteet</p>
<ul>
  {% for ref in added_references %}
  <li>{{ ref }}</li>
  {% endfor %}
</ul>
<body class="body">
  <div class="container" align="left">
    <a href="/download-file" target="blank"
      ><button class="btn btn-default">Lataa BibTex -tiedosto</button></a
    >
  </div>
</body>
{% else %}
<p>Et ole lisännyt vielä yhtään viitettä.</p>
{% endif %} {% endif %} {% endblock %}
