<!DOCTYPE html>
<html>
  <head>
    <title>ohtu-mini</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>

  <body>
    <div class="navbar">
        <a href="/">Etusivulle</a>
        {% if session.user_id %}
            <a class="right" href="/logout">Kirjaudu ulos</a>
            <nobr style="float: right;">Kirjauduttu käyttäjänä: {{ session.user_username }}</nobr>
        {% else %}
        <nobr>kirjaudu</nobr>
        <form class="right" action="/login" method="post">
            <nobr>Käyttäjätunnus: <input type="text" name="username"></nobr>
            <nobr>Salasana: <input type="password" name="password"></nobr>
            <input type="submit" value="Kirjaudu" style="margin-top:10px;">
            <a class="right" href="/register">Luo uusi käyttäjä</a>
        </form>
        {% endif %}
    </div>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <a href="https://github.com/Perttu-Kangas/ohtu-mini">Tarkastele lähdekoodia</a>
    </footer>
  </body>
</html>
