<!DOCTYPE html>
<html>
  <head>
    <title>Viitevarasto</title>

    <!-- Favicon -->
    <link
      href="{{ url_for('static', filename='icon/favicon.ico') }}"
      rel="icon"
      sizes="76x76"
    />

    <!-- Mobilili viewport fix  -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
  </head>

  <body>
    {% if session.user_id %}
    <header class="card header">
      <a href="/">
        <img
          src="/static/icon/viitevarasto.svg"
          alt="Logo"
          width="32"
          height="32"
        />
        <h1>Viitevarasto</h1>
      </a>

      <div class="user">
        <p>{{ session.user_username }}</p>
        <a href="/logout">Kirjaudu ulos</a>
      </div>
    </header>

    {% else %}
    <!-- Kirjautumissivu -->
    <nobr>kirjaudu</nobr>
    <form action="/login" method="post">
      <nobr>Käyttäjätunnus: <input type="text" name="username" /></nobr>
      <nobr>Salasana: <input type="password" name="password" /></nobr>
      <input type="submit" value="Kirjaudu" style="margin-top: 10px" />
      <a href="/register">Luo uusi käyttäjä</a>
    </form>
    {% endif %}

    <main>{% block content %}{% endblock %}</main>
    <footer>
      <a href="https://github.com/Perttu-Kangas/ohtu-mini"
        >Tarkastele lähdekoodia</a
      >
    </footer>
  </body>
</html>

<a href="/logout">Kirjaudu ulos</a>
<nobr style="float: right"
  >Kirjauduttu käyttäjänä: {{ session.user_username }}</nobr
>
